/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: roboto;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  font-size: 45px;
  font-weight: 500;
  color: #0f172a;
}

.box-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px;
}

.small-container {
  background-color: #fbbf24;
  height: 80px;
  width: 80px;
  margin-top: 24px;
}

.med-container {
  background-color: #38bdf8;
  height: 150px;
  width: 150px;
}

.large-container {
  background-color: #ec4899;
  height: 270px;
  width: 270px;
}

.para {
  color: #ffffff;
  font-size: 18px;
  font-family: bree serif;
}

@media screen and (min-width:768px){
  .box-card-container{
    flex-direction: row;
    align-items: flex-end;
  }
  .box{
    margin: 0px 20px;
  }
  .small-container{
    height: 100px;
    width: 100px;
  }
  .med-container {
    background-color: #38bdf8;
    height: 200px;
    width: 200px;
  }
  .large-container {
    height: 350px;
    width: 350px;
  }
  .para{
    font-size: 22px;
  }
}

@media screen and (min-width:992px){
  .box{
    margin: 0px 40px;
  }
  .small-container{
    height: 120px;
    width: 120px;
  }
  .med-container {
    height: 250px;
    width: 250px;
  }
  .large-container {
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width:1200px){
  .small-container{
    height: 150px;
    width: 150px;
  }
  .large-container {
    height: 450px;
    width: 450px;
  }
}